.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
}

.main {
  padding: 0 8px;
  flex: 1 0 auto;
}

.logo {
   width: 80%;
   font-size: 18px;
   margin: 20px auto;
   color: #fff;
   text-align: center;
   background: #334454;
   padding: 6px 0;
}
